{#
/**
 * @file
 *
 * Default template for job offer overview list.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass(['job-offers']) }}>
  <h4 class="job-offers__title">{{ 'Current jobs'|t }}</h4>
  <ul class="job-offers__list">
    {% for link in job_offer_links %}
      <li class="job-offers__list__item">{{ link }}</li>
    {% endfor %}
  </ul>
  {% if overview_url %}
    <div class="job-offers__overview"><a href="{{ overview_url }}" class="button">{{ 'All job offers'|t }}</a></div>
  {% endif %}
</div>
